@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 62.5%;
  overflow-x: hidden;
}
header {
  background-color: #336699;
  border-bottom: 1px solid rgb(216, 216, 216);
}
nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
nav img {
  width: 3rem;
}
nav button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
nav ul {
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: #0068cf;
  padding: 2rem;
  transform: translateX(35rem);
  transition: transform 0.5s;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 2rem 0;
  font-size: 2rem;
}
.mobile-close {
  display: block;
  margin-left: auto;
  font-size: 1.5rem;
}
li {
  list-style: none;
}
.active {
  transform: translateX(0rem);
}
.home {
  background-color: #336699;
  height: 35rem;
  display: grid;
  place-content: center;
}
.home h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}
.home button {
  width: 20rem;
  margin: 2rem auto;
  background-color: white;
  color: #336699;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
}
.home h2 {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
}
.sportlights {
  background-color: #f7f7f7;
  min-height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 110rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.sportlights div {
  width: 25rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 15rem;
  display: grid;
  place-content: center;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 1rem;
}
.sportlights div h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #272727;
}
.sportlights div p {
  font-size: 1rem;
  color: #272727;
}
.sportlights div a {
  font-size: 1rem;
  text-align: center;
}
.weather {
  background-color: #336699;
  min-height: 35rem;
  display: grid;
  place-content: center;
}
.weather h2 {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}
.weather-icon {
  font-size: 7rem;
  text-align: center;
}
.weather-details p {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
}
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  background-color: #272727;
}
footer h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
}
footer p {
  font-size: 1rem;
  color: #ffffff;
}
.discover {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
  gap: 1rem;
  margin: 0 1rem;
}
.discover section img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  padding: 1rem 0;
  display: block;
  margin: 0 auto;
}
.discover section img:hover {
  transform: scale(1.05);
}
.discover aside {
  border: 1px solid rgb(146, 146, 146);
  border-radius: 0.3rem;
  background: #f7f7f7;
  height: 20rem;
  margin-top: 1rem;
}
.discover aside h2 {
  padding: 1rem;
  text-align: center;
}

.discover aside h3 {
  text-align: center;
  padding-top: 3rem;
  font-size: 0.8rem;
}
.discover aside span {
  font-size: 3rem;
  display: block;
  text-align: center;
  padding: 1rem 0;
}
.discover aside p {
  color: black;
  font-size: 0.9rem;
}
.discover section p {
  text-align: center;
  font-size: 1rem;
}
.form aside {
  display: none;
}
.form {
  padding: 2rem;
  background-color: #f8f9fa;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  font-size: 13px;
}
input:not(:last-of-type),
textarea,
select {
  margin-bottom: 1rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
.container {
  margin: 30vh auto;
}
.container h1 {
  text-align: center;
  font-size: 30px;
}
.container p {
  text-align: center;
  font-size: 15px;
}
.directory {
  max-width: 1000px;
  padding: 2rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
.card h2 {
  color: #333;
  font-size: 1.2rem;
}
.card p{
  font-size: 1rem;
}
.card a {
  color: blue;
  text-decoration: none;
  font-size: 1rem;
}

.card a:hover {
  text-decoration: underline;
}
