@media (min-width: 1000px) {
  nav img {
    width: 2.5rem;
  }
  nav {
    padding: 0 4rem;
    max-width: 110rem;
    margin: 0 auto;
  }
  .mobile {
    display: none;
  }
  .mobile-close {
    display: none;
  }
  nav ul {
    position: static;
    background-color: transparent;
    height: auto;
    display: flex;
    width: auto;
    padding: 1rem;
    gap: 5rem;
    transform: translateX(0);
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .discover {
    width: 70rem;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
  }
  .discover section img {
    width: 400px;
    height: 600px;
  }
  .discover aside {
    width: 20rem;
    margin: 1rem auto 0;
  }
  .discover aside h2 {
    padding: 2rem;
  }
  .form aside {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form div {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form aside h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .form aside p {
    font-size: 12px;
    padding: 10px 0;
  }
  .form aside ul {
    font-size: 14px;
  }
  .form aside ul li {
    padding: 10px 0;
  }
}
