@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 110rem;
  margin: 0 auto;
  background: #1d4d72;
  gap: 1rem;
  position: relative;
}
header img {
  width: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 2px 2px 0 black;
}
header span {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}
nav ul {
  display: flex;
  flex-direction: column;
  background-color: black;
  max-width: 110rem;
  margin: 0 auto;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  color: white;
  display: block;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  text-decoration: none;
}
nav ul li:hover:not(.menu-mobile) {
  background-color: #669933;
}
.active {
  background-color: #669933;
}
main {
  padding: 1.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
h1 {
  border-bottom: 1.8px solid black;
  margin: 0 auto;
  font-weight: 400;
  display: inline-block;
}
.card {
  border: 1px solid #555555;
  border-radius: 0.6rem;
  padding-bottom: 1rem;
  width: 22rem;
  box-shadow: 0 2px 5px black;
  margin: 0 auto;
}
.card h2 {
  background: #1d4d72;
  border-radius: 0.4rem 0.4rem 0 0;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1rem;
}
.card ul {
  padding: 1rem 1rem 0;
  display: grid;
  gap: 0.5rem;
}
.card ul li {
  font-size: 1rem;
}
h3 {
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 500;
}
.card span {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.card span:first-of-type {
  padding: 1rem 0;
}
footer {
  background: #1d4d72;
  display: grid;
  place-content: center;
  padding: 1rem;
  max-width: 110rem;
  margin: 0 auto;
}
footer p {
  color: white;
  font-size: 1rem;
}
.lastModified {
  color: yellow;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5rem;
}
.chamber h2 {
  font-size: 1rem;
  padding: 0.5rem 0;
}
.chamber p {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}
.chamber li {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}
.darkmode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}
.dark {
  background-color: #777777;
}
.dark h1,
.dark main li,
.dark main span,
.dark main h3 {
  color: white;
}
.dark h1 {
  border-bottom: 1.8px solid rgb(255, 255, 255);
}
.dark section {
  background-color: rgba(255, 255, 255, 0.4);
}
nav ul li:not(.menu-mobile) {
  display: none;
}
.menu-mobile {
  text-align: end;
}
.menu-mobile button {
  color: white;
  background-color: transparent;
  font-size: 2rem;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
}
.show {
  display: block !important;
}
picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.templo {
  position: relative;
}
.templo span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 6px black;
}
iframe {
  margin: 0 auto;
}
